/* Larger screen styles */
#menu-toggle {
  display: none;
}

nav {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.gallery {
  grid-template-columns: repeat(3, 1fr);
  max-width: 900px;
  margin: 0 auto;
}